.pricing{
    background: #252B42;
    padding: 100px 0;
    color: #fff;
    text-align: center;

    &__title{
        font-size: 48px;
        letter-spacing: 0.2px;
    }

    &__text{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.2px;
        max-width: 530px;
        display: inline-block;
        margin-bottom: 90px;
    }

    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item{
        flex: 1;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        color: black;
        padding: 40px;
        margin-right: 50px;
        max-width: 335px;

        &-title{
            font-size: 20px;
            line-height: 28px;
            font-family: "Graphik Bold";
            text-transform: uppercase;
            margin-bottom: 3px;
            color: #252B42;
        }

        &-text{
            font-family: "Graphik";
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1px;
            color: #374754;
            max-width: 148px;
            display: inline-block;
            margin-bottom: 30px;
        }

        &-cost{
            margin-bottom: 30px;
            display: flex;
            justify-content: center;

            &-content{
                text-align: left;
                margin: auto;
                margin-left: 10px;
                flex: 1;
            }

            &-value,
            &-currency{
                font-family: "Graphik Bold";
                font-size: 74px;
                letter-spacing: 0.2px;
                color: #252B42;
            }

            &-value{
                flex: 1;
                text-align: right;
            }

            &-currency{
                font-size: 20px;
                line-height: 28px;
            }

            &-info{
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.1px;
                color: #374754;
            }
        }

        &-list{
            margin-bottom: 30px;
            
            &-name{
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #252B42;
                margin-bottom: 10px;
            }
        }

        &--mod{
            background: #2091F9;
            color: #fff;
            padding: 83px 40px;

        .pricing__item{
            &-title,
            &-text{
                color: inherit;
            }

            &-cost{
                &-value,
                &-currency,
                &-info{
                    color: inherit;
                }
            }

            &-list{
                &-name{
                    color: inherit;
                }
            }

            &-button{
                background-color: #fff;
                color: #2091F9;
            }
        }
        
        }
    
    }}