.reviews{
    text-align: center;
    padding: 100px 0;

    &__title{
    margin-bottom: 80px;
    }

    &__icon{
        margin-bottom: 50px;
    }

    &__comment{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.2px;
        color: #374754;
        max-width: 967px;
        margin: 50px auto;
    }

    &__user{
        display: flex;
        justify-content: center;

        &-info{
            margin: auto 13px;
            text-align: left;
        }

        &-doing,
        &-position{
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1px;
            color: #374754;
        }

        &-position{
            color: #252B42;
        }
    }

    &__button{
        max-width: 276px;
        margin-top: 80px;
    }
}